.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f2ee;
}

.app .app__body {
  max-width: 1128px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 24px;
  height: 100vh;
}
