.header {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  background: #fff;
}

.header__inner__wrapper {
  max-width: 1128px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding-block: 10px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  object-fit: contain;
  height: 4.1rem;
  margin-right: 1px;
  cursor: pointer;
}

.header__left .header__search {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-right: 100px;
  border-radius: 5px;
  height: 15px;
  background: #edf3f8;
  color: gray;
}

.header__search input {
  border: none;
  outline: none;
  background: none;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
