.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  text-align: center;
}

.sidebar__top,
.sidebar__bottom {
  width: 225px; /* TODO: Remove if unnecessary */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid #dfdeda;
  border-radius: 7px;
  background: #fff;
  margin-bottom: 0.8rem;
}

.sidebar__author,
.sidebar__stats {
  width: 100%;
}

.sidebar__author {
  display: flex;
  flex-direction: column;
  border-bottom: 0.2px solid #dfdeda;
}

.sidebar__avatar {
  margin-inline: auto;
}

.sidebar__author img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.sidebar__author img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  margin-bottom: -20px;
}

.sidebar__author .author__bio {
  margin-block: 1rem;
  font-size: 12px;
  color: #00000099;
}

.author__bio .author__name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #000000e6;
}

.sidebar__stats {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  gap: 0.5rem;
  font-weight: 400;
}

.sidebar__stat {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  font-size: 12px;
}

.sidebar__stat .stat__figure {
  color: #0a66c2;
}

.sidebar__stat:hover {
  background: #ebebeb;
  cursor: pointer;
}

.sidebar__stat p {
  color: #00000099;
}

.sidebar__bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

.sidebar__bottom .sidebar__recent {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #00000099;
  font-size: 12px;
}

.sidebar__recent p {
  text-align: left;
}

.sidebar__recent .recent__title,
.sidebar__recent .group__title {
  font-size: 12px;
  font-weight: 400;
  margin: 0.5rem;
  margin-left: 0;
  padding-left: 1rem;
}

.sidebar__recent .recent__title {
  color: #000000e6;
}

.sidebar__recent .group__title {
  color: #0a66c2;
}

.sidebar__recent .sidebar__recent__highlights {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}

.recent__highlight {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.recent__highlight p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
