.widget__container {
  max-width: 300px;
  flex: 0.3;
}

.widget__container__top {
  background: #fff;
  padding: 12px;
  border-radius: 0.8rem;
}

.widget__container__top h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #000000e6;
}

.widget__container__top .top__header {
  display: flex;
  justify-content: space-between;
}

.widget__container__top .feed__list {
  color: #000000e6;
}

.feed__author__container {
  display: flex;
  gap: 12px;
  margin-block: 12px;
}

.feed__author__container .author__details__container {
  width: 100%;
  font-size: 14px;
}

.author__details__container .author-name {
  font-weight: 600;
}

.author__details__container p {
  font-size: 12px;
  color: #00000099;
}

.author__image__container {
  width: 48px;
  height: 48px;
}

.author__image__container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.feed__author__container .author__button {
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 0.5rem;
  padding: 6px 16px;
  border-radius: 1.6rem;
  text-transform: capitalize;
  color: #000000bf;
  outline: none;
  background: none;
}

@media (max-width: 992px) {
  .widget__container {
    display: none;
  }
}
